.job {
  height: 50%;
  flex: 1 1 50%;
  background-color: #fff;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #000;
}
.job h2 {
  color: #000;
  font-family: FHTotal;
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
