.miotto {
  height: 50%;
  flex: 1 1 50%;
  background-color: #fff;
  padding: 0.5rem;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
}
.miotto__inner {
  height: 100%;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.miotto__inner h2 {
  margin: 0;
  font-family: FHTotal;
  font-size: 50px;
  font-weight: 200;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
