.place {
  height: 50%;
  flex: 1 1 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 5px solid #000;
  border-right: 5px solid #000;
}
.place h2 {
  color: #000;
}
.address,
.map {
  flex: 1 1 50%;
  background-color: #ededed;
}
